.container {
    margin: 0 auto;
    max-width: 1240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    width: 100%;
    text-align: left;
}

.feedOrder {
    width: 100%;
    max-width: 1240px;
    display: flex;
    flex-direction: row;
    column-gap: 60px;
}