.constructor {
    width: 600px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.constructor_element {
    display: flex;
    justify-content: flex-end;
    width: 515px;
    padding-left: 5px;
}

.layers_list {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding-left: 0;
    max-height: 590px;
    min-height: 100px;
    overflow-y: scroll;
    scrollbar-color: #8585AD #2F2F37;
    scrollbar-width: 8px;
    width: 100%;
}

.layers_list::-webkit-scrollbar {
    width: 8px;
    height: auto;
}

.layers_list::-webkit-scrollbar-track {
    background: #2F2F37;
}

.layers_list::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    border: 8px solid #8585AD;
}

.order_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    align-items: center;
}

.price_container {
    height: 64px;
    align-items: center;
}
.start {
    padding-top: 50%;
}

.add_ingredients{
    text-align: center;
    padding-top: 30px;
}