.constructor {
    width: 600px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.constructor_element {
    display: flex;
    justify-content: flex-end;
    width: 515px;
    padding-left: 5px;
}

.layers_list {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding-left: 0;
    height: 590px;
    overflow-y: scroll;
}

.layer_element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    align-items: center;
}

.price_container {
    height: 64px;
    align-items: center;
}